CompileFlags:
  CompilationDatabase: "build/x86_64"
  Add:
    - -I/usr/include/c++/11 # g++ 버전 및 시스템에 맞는 경로로 수정
    - -I/usr/include/x86_64-linux-gnu/c++/11 # g++ 버전 및 시스템에 맞는 경로로 수정
    - -I/usr/include/c++/11/backward # g++ 버전 및 시스템에 맞는 경로로 수정
    - -I/usr/lib/gcc/x86_64-linux-gnu/11/include # g++ 버전 및 시스템에 맞는 경로로 수정
    - -I/usr/local/include
    - -I/usr/include
    - -msse
    - -msse2
